* {
  border: dotted 1px red;
  margin: 0 auto;

}

body {
  min-height: 100vh;
}

.main-container {
  display: flex;
}

.left-column {
  float: left;
  width: 35%;
  min-height: 100vh;
}

.dsotm-img {
  max-height: 100%;
  max-width: 100%;
}

.right-column {
  float: right;
  width: 65%;
  min-height: 100vh;
}

.form-section {
  display: flex;
}

.form-title {
  width: 100%;
}

label, input {
  display: block;
}

.bottom-message {
  display: flex;
}
