:root {
  --standard-left-margin: 60px;
  --standard-padding: 0px;
}

* {
  font-family: openSans;
  margin: 0 auto;
}

@font-face {
  font-family: openSans;
  src: url(fonts/OpenSans.ttf);
}

@font-face {
  font-family: openSansBold;
  src: url(fonts/OpenSansBold.ttf);
}

.main-container {
  display: flex;
}

.left-column {
  float: left;
  width: 35%;
  margin: 0;
}

.left-image {
  position: relative;
}

.wywh-img {
  max-height: 100vh;
  width: 100%;
  vertical-align: top;
}

.logo-image {
  position: absolute;
  display: flex;
}

.pflogo-img {
  max-width: 90%;
  margin-top: 20px;
  opacity: 50%;
}

.right-column {
  float: right;
  width: 65%;
  margin: 0;
}

.top-section {
  padding: 20px;
  padding-top: 80px;
  padding-left: var(--standard-padding);
  background: #ffffff;
}

.welcome-text {
  font-size: 18px;
  margin-left: var(--standard-left-margin);
}

.pf-text {
  font-family: openSansBold;
}

.direct-text {
  font-size: 20px;
  margin-left: var(--standard-left-margin);
  margin-top: 30px;
  margin-bottom: 15px;
}

.middle-section {
  position: relative;
  padding: 20px;
  padding-bottom: 1px;
  background: #ecf6ff;
  box-shadow: lightgrey 0px 4px 4px;
  padding-left: var(--standard-padding);
}

.form-title {
  font-size: 20px;
  margin-left: var(--standard-left-margin);
  margin-top: 10px;
  margin-bottom: 20px;

}

.form-section {
  display: flex;
  gap: 50px;
  margin-bottom: 40px;
}

.form-col-1 {
  margin: 0;
  margin-left: var(--standard-left-margin);
}

.form-col-2 {
  margin: 0;
}

label, input {
  display: block;
}

label {
  font-size: 12px;
  margin-bottom: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

input {
  width: 200px;
  height: 25px;
  border: none;
  border-bottom: solid 1px lightgrey;
  padding: 2px;
  padding-left: 8px;
}

.input-field {
  margin-top: 12px;
}

.guitar-img {
  position: absolute;
  max-width: 250px;
  right: 20px;
  top: 20px;
  
}

.bottom-section {
  padding-left: var(--standard-padding);
  padding-bottom: 70px;
}

.bottom-button {
  margin-top: 40px;
  margin-bottom: 20px;
}

button {
  color: white;
  background: #53acff;
  font-size: 16px;
  margin-left: var(--standard-left-margin);
  border: none;
  border-radius: 12px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: lightgrey 0px 4px 4px;
}

button:hover {
  cursor: pointer;
  background: #68b6ff;
}

button:active {
  cursor: pointer;
  background: #68b6ff;
  transform: translateY(4px);
}

.bottom-message {
  display: flex;
  gap: 10px;
  margin-left: var(--standard-left-margin);
}

.bottom-msg-1 {
  margin: 0;
  margin-top: 10px;
}

.bottom-msg-2 {
  margin: 0;
  margin-top: 6px;
  margin-left: 2px;
  color: #2998ff;
  font-size: 20px;
}

.bottom-msg-2:hover {
  cursor: pointer;
}